SERVER_PORT=8080
DB_HOST=localhost
DB_PORT=5432
DB_USER=insider
DB_PASSWORD=insider
DB_NAME=insider_league
DB_SSLMODE=disable
SIMULATION_SEED=20260518
PREDICTION_SEED=42024
PREDICTION_ITERATIONS=10000
